.header{
    font-family: papyrus;
    font-size: xx-large;
    background-image: url('headerpic.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.input-box{
    background-color: bisque;
    margin: auto;
    text-align: center;
    width: 300px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
}

#parent{
    background-color: bisque;
    margin: auto;
    text-align: center;
    width: 300px;
    height: auto;
}

#text-test {
    text-align: center;
    
}

footer{
    font-size: smaller;
}


.test-p {
    opacity: 0;
    animation: fade 3s ease-in forwards;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    -webkit-animation: fade 3s ease-in forwards 10s;
    -moz-animation: fade 3s ease-in forwards 10s;
    -o-animation: fade 3s ease-in forwards 10s;
    -ms-animation: fade 3s ease-in forwards 10s;
    
}

@keyframes fade {
    0%{transform: translateX(50%);
        opacity: 0;
        text-align: center;
    }
    100%{
        opacity: 1;
        background-color: bisque;
        text-align: center;
    }

}